---

- name: Ensure npm has permissions to write
  file:
    state: directory
    path: "{{ django_stack_npm_dir }}"
    recurse: yes
    owner: "{{ django_stack_gcorn_user }}"
    group: "{{ django_stack_gcorn_group }}"

- name: Optional npm global packages
  become: yes
  npm:
    global: yes
    name: "{{ item }}"
  with_items: "{{ django_stack_npm_global_pkgs }}"

- block:
  - name: NPM dependency install
    # ran into a lot of issues using the ansible npm, shell, command modules
    # had to fall back to raw to press forward
    raw: "cd {{ django_stack_npm_dir }} && {{ django_stack_npm_install_cmd }}"
    register: npm_install
    #changed_when: "'install' in npm_install.std_out"
    when: "git_pull is undefined or git_pull.changed or django_stack_force_refresh"

  - name: Optional npm commands
    shell: "npm {{ item }}"
    args:
      chdir: "{{ django_stack_npm_dir }}"
      executable: /bin/bash
    with_items: "{{ django_stack_npm_commands }}"
    when: "npm_install is defined and npm_install.changed"

  - name: Optional shell commands
    shell: "{{ item }}"
    args:
      chdir: "{{ django_stack_npm_dir }}"
    with_items: "{{ django_stack_shell_commands }}"

  become_user: "{{ django_stack_gcorn_user }}"
  environment:
    NODE_ENV: production
    NODE_PATH: /usr/lib/nodejs:/usr/lib/node_modules:/usr/share/javascript:/usr/local/lib/npm/lib/node_modules

